

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
	font-family: 'fanwood';
	src: url('../fonts/fanwood/fanwood_text-webfont.eot'); /* IE9 Compat Modes */
	src:  url('../fonts/fanwood/fanwood_text-webfont?#iefix')  format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/fanwood/fanwood_text-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/fanwood/fanwood_text-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/fanwood/fanwood_text-webfont.svg') format('svg'); /* Legacy iOS */
}

body {
word-spacing: 0.1em;
margin: 0 auto;
padding-bottom: 2em;
padding-top:0px;
font-family:"fanwood",serif;
}

a, a:hover {
	color:#CC0000;
}

p, td {
	font-size:large;
}

.all-caps {
	text-transform:uppercase;
	font-size:.8em;
	padding-right:5px;
}

p span:first-child { 
	float: left; 
	color:#CC0000;
	font-size: 75px; 
	line-height: 55px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px;
}

h1, h2, h3{
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
	clear: both;
}

h1, h2 {
	line-height: 100px;
}

h2, .footer {
	font-family: 'Pinyon Script', cursive;
}

.footer {
	text-align:center;
	font-size:1.2em;
}

h1 {
	margin-top: 30px;
	font-size: 72px;
	text-transform: uppercase;
	color:#CC0000;
}

hgroup img:first-child {
	height:auto;
	width:500px;
	margin:100px 0px 0px -250px;
	position:relative;
	left:50%;

}

img.center-ornament {
	left:50%;
	position:relative;
	margin-left:-27px;
}

img.center-break {
	height:10px;
	width:auto;
	position:relative;
	left:50%;
	margin-left:-72px;
	margin-top:50px;
	margin-bottom:20px;
}

hgroup h2 {
	margin-bottom:8%;
}

hgroup h1 {
	margin-bottom:10px;
}

hgroup h3 {
	margin-bottom:20px;
}

hr {
	border-top:1px solid #000;
}

hgroup {
	margin-bottom:100px;
}


.toc h3 {
	line-height:3em;
	text-align:center;
	text-decoration: underline;
}

.toc table {
	left:50%;
	margin-left:-215px;
	position:relative;
}

.toc tr {
	line-height:3em;
}

.dots {
	letter-spacing:15px;
}

hgroup.overview {
	margin-top:20px;
}

hgroup.overview h1 {
	font-size:3.5em;
	margin-top:0px;
}

svg {
	overflow: hidden;
	position:relative;
	width:100%;
	padding-left:50px;
}

.main-visual {
	background-color:rgba(228,227,211,.4);
		-moz-box-shadow:    3px 3px 5px 6px #ccc;
	  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
	  box-shadow:         3px 3px 5px 6px #ccc;
}



#Jobs > g:hover path, #Jobs > path:hover  {
  stroke:#666;
}

#years > g:hover > rect {
  fill:#666;
}

#textbox {
	float:left;
}

.visual {
	display:block;
	float:left;
	min-width:580px;
	width:50%;
	position:relative;
	display:block;
	margin-left:2%;
}

.legend {
	margin:-50px 0px 50px;
}

.legend h3 {
	font-size:2.5em;
	font-style:italic;
	text-align:left;

}

.legend > div > div > p:first-child {
	text-decoration: underline;
}


.legend > h3:first-child {
	text-decoration:underline;
	text-align:left;
}


.legend ul {
	text-align:left;
	list-style: none;
	margin:0;
}

.block {
	height:20px;
	width:20px;
	background-color:red;
	margin:0px 5px;
}

li div {
	display: inline-block;
	width: 120px;
}

.directions li {
	margin:10px 0px;
	font-size: 1.5em;
	font-weight:bold;
}

.main {
	padding:0;
}

.visual p {
	margin-bottom:20px;
}

.job-year-header h3:last-child {
	font-size:3em;
	line-height:1.2em;
}

.job-year-header {
	line-height: .5em;
}

.visual {
}

div.job-year-info {
	margin-top:20px;
	padding-left:20px ;
	float:right;
	display:block;
	width:25%;
	margin-left:2%;
	margin-right:2%;

}

.job-year-info h3 {
	font-size:2em;
	font-weight:700;
}

.job-year-info ul {
	margin-top:10px;
}

.job-year-info li {
	font-size:1.2em;
	line-height:1.5em;

}

#info-vis-center {
	margin-top:10px;
	margin-bottom:10px;
}

@media (max-width: 979px) {
  svg, .job-year-info {
  	width:100%
  }
}

.job-year-details {
	margin-top:10px;
}

#boston {
	background-color:rgb(239,242,232);
}

#ba {
	background-color:rgb(238,238,176);
}

#dc {
	background-color:#887853;
}

#havana {
	background-color:rgb(216,194,191);
}

#service {
	background-color:rgb(171,86,115);
}

#writing {
	background-color:rgb(231,209,155);
}

#creative {
	background-color:rgb(135,94,84);
}

#education {
	background-color:rgb(100,118,147);
}

#web {
	background-color:rgb(193,135,150);
}

.resume-top h2 {
	font-size:2em;
	line-height:1.5em;
}

.resume-top a {
	color:black;
}

.header-square {
	padding:35px 20px 0px;
}

.break {
	width:100%;
}

.main-resume h3 {
	text-align:left;
}

.job-desc {
	width:75%;
	padding-right:10px;
	float:left;
	margin-bottom:20px;
}



.job-date, .job-location {
	width:20%;
	text-align:center;
	float:right;
	margin-bottom:20px;
	font-style: italic;
}

.divider-dot {
	width:20%;
	text-align:center;
	float:right;
	margin-bottom:20px;
}

.job-desc, .job-date, .job-location {
	display:block;
}

.job-desc ul {
	padding-left:70px;
}

.work-ex h3, .sidebar h3 {
	border-bottom: 1px black solid;
	margin-bottom:20px;
}

.divider-dot::after {
	content: "\2726";
}

.sidebar ul {
	font-size:large;
	list-style: none;
}

.sidebar li {
	line-height:2em;
}

.school-info h3 {
	border:0px;
	text-align:center;
}

.school-info, .skills li {
	text-align:center;
}

.degrees {
	margin:30px 0px;
	font-size:1.5em;
}

@media print {
	* {
		float:none;
	}

	h1 {
		font-size:3em;
	}

	.header-square h2 {
		font-size:14pt;
		font-style:italic;
	}

	h1, h2 {
		line-height: 1em;
	}

	.header-square a:after, p a:first-child:after, .school-info a:after {
     display: none;
    }

    section.sidebar {
    	page-break-before:always;
    }

}