

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
	font-family: 'fanwood';
	src: url('../fonts/fanwood/fanwood_text-webfont.eot'); /* IE9 Compat Modes */
	src:  url('../img/fanwood_text-webfont?#iefix')  format('embedded-opentype'), /* IE6-IE8 */
	     url('../img/fanwood_text-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../img/fanwood_text-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../img/fanwood_text-webfont.svg') format('svg'); /* Legacy iOS */
}

body {
word-spacing: 0.1em;
margin: 0 auto;
padding-bottom: 2em;
padding-top:0px;
font-family:"fanwood",serif;
}

a, a:hover {
	color:#CC0000;
}

p, td {
	font-size:large;
}

.all-caps {
	text-transform:uppercase;
	font-size:.8em;
	padding-right:5px;
}

p span:first-child { 
	float: left; 
	color:#CC0000;
	font-size: 75px; 
	line-height: 55px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px;
}

h1, h2, h3{
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
	clear: both;
}

h1, h2 {
	line-height: 100px;
}

h2, .footer {
	font-family: 'Pinyon Script', cursive;
}

.footer {
	text-align:center;
	font-size:1.2em;
}

h1 {
	margin-top: 30px;
	font-size: 72px;
	text-transform: uppercase;
	color:#CC0000;
}

hgroup img:first-child {
	height:auto;
	width:100%;
	margin:20px auto 8%;
}

img.center-ornament {
	left:50%;
	position:relative;
	margin-left:-27px;
}

img.center-break {
	height:10px;
	width:auto;
	position:relative;
	left:50%;
	margin-left:-72px;
	margin-top:50px;
	margin-bottom:20px;
}

hgroup h2 {
	margin-bottom:8%;
}

hgroup h1 {
	margin-bottom:10px;
}

hgroup h3 {
	margin-bottom:20px;
}

hr {
	border-top:1px solid #000;
}

hgroup {
	margin-bottom:100px;
}


.toc h3 {
	line-height:3em;
	text-align:center;
	text-decoration: underline;
}

.toc table {
	left:50%;
	margin-left:-215px;
	position:relative;
}

.toc tr {
	line-height:3em;
}

.dots {
	letter-spacing:15px;
}

hgroup.overview {
	margin-top:50px;
}

div.legend {
	text-align:center;
}

svg {
	overflow: hidden;
	background-color:rgba(228,227,211,.4);
	border:40px;
	border-image:url(../img/frame.png) 180 repeat;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
	  box-shadow:         3px 3px 5px 6px #ccc;
	position:relative;
	width:100%;
	height:auto;
	max-width:580px;
}



#Jobs > g:hover, #Jobs > path:hover  {
  opacity:.5
}

#years > g:hover > rect {
  stroke:#999;
  stroke-width:5px;
}

#textbox {
	float:left;
}

.visual {
	display:block;
	float:left;
}

.legend {
	margin:-50px 0px 50px;
}

.legend h3 {
	font-size:2.5em;
	font-style:italic;
}


.legend > div:first-child {
	padding:40px 0px;
	border-right:1px solid black;
}

.legend > div:last-child {
	border-left:1px solid black;
	padding:0px 20px;
}

.legend em {
	text-decoration: underline;
}


.legend ul {
	text-align:left;
	list-style: none;
	margin:0;
}

li img {
	height:20px;
	width:20px;
	background-color:red;
	margin:0px 5px;
}

li div {
	display: inline-block;
	width: 100px;
}

.directions li {
	margin:10px 0px;
	font-size: 1.5em;
	font-weight:bold;
}

.main {
	padding:0;
}

.visual p {
	margin-bottom:20px;
}

.job-year-info {
	padding-left:100px;
}

.job-year-header h3:last-child {
	font-size:4em;
}